

/* Cores */
:root {
    --black: #36453A;
    --white: #ECF6E6;
    --gray: #B3B3B3;
    --gray-light: #D6D6D6;
    --gray-lighter: #D7E0D5;

    --green-darker: #45702C;
    --green-dark: #599139;
    --green: #6AAC43;
    --green-light: #B2DE99;

    --blue: #626CC1;
    --red: #AB3A3D;
    --yellow: #F7F454;
    --brown: #AB5432;
    --brown-dark: #5E3220;
    
    /* Cores semânticas */
    --background: var(--white);
    --title: var(--brown-dark);
    --text: var(--black);
    --link: var(--blue);
    --sucess: var(--green-dark);
    --warning: var(--yellow);
    --error: var(--red);
}

/* Gerais */
body {
    font-family: 'Quicksand', sans-serif;
    background-color: var(--background);
}

/* Cabeçalho */
header, .navbar {
    background-color: var(--gray-light);
}

#nav-container {
    padding-top: 0;
    padding-bottom: 0;
}

#logo {
    width: 100px;
}

.navbar-brand {
    padding: 0;
    color: var(--text)
}

.navbar-brand:hover {
    color: var(--background);
}

#navbar-links a {
    color: var(--text)
}

.navbar-expand-lg .navbar .nav-link {
    padding: 1rem .8rem;
}


/* Footer */
footer {
    background-color: var(--black);
    text-align: center;
}

#copy-area .container {
    padding: 10px 0;
}

footer #logo {
    width: 150px;
    border-bottom: 2px solid var(--white);
}

footer p {
    font-size: 0.75rem;
    color: var(--white);

}

a {
    color: var(--link);
}

.footer-brand {
    padding: 0;
    color: var(--text)
}

.footer-brand:hover {
    color: var(--background);
}

/*menu*/
#nav2{
    background-color: rgba(16, 16, 16, .5) ;
    width: 350px;
    height: 100%;
    position:absolute;
    left: -350px;
    transition: all .5s;
}
input[type="checkbox"]:checked ~ nav{
    transform: translateX(350px);
}
.ul1{
    top:70px;
    position:absolute;
    width: 100%;
}
i{
    width: 60px;
}

input[type="checkbox"]{
    display:none
}

a{
    display: block;
    padding: 20px 5px;
    color: white;
}
a:hover{
    background-color: rgba(176, 224, 230);
    color: black;
}
label{
    padding: 15px;
    position: absolute;
    z-index: 1;
}


/*protocolo*/


.flex-container {
    margin-top: 5%;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
}
.inline{
    display: flex;
}
.row {
    padding: 1rem;
}

.container2 {
    max-width: 450px;
    padding: 0 20px;
}

.wrapper {
    width: 100%;
    border-radius: 5px;
}

p,
li {
    color: #36453A;
    font-size: 14px;
}

.multipleChoice{
    display: block;
}

.radio{
    display: inline-block;
    margin-left: 3rem;
}

.inputIcon input[type-text]{
    padding-left: 40px;
}

.inputIcon{
    position:relative;
}

.inputIcon i{
    position: absolute;
    left: 4px;
    top:4px;
}
h4{
    padding-top: 2rem;
}
#questao{
    align-items: center;
    justify-content: center;
}