/* Cores */
:root {
  --black: #36453a;
  --white: #ecf6e6;
  --gray: #b3b3b3;
  --gray-light: #d6d6d6;
  --gray-lighter: #d7e0d5;
  --green-darker: #45702c;
  --green-dark: #599139;
  --green: #6aac43;
  --green-light: #b2de99;

  --blue: #545dab;
  --red: #ab3a3d;
  --yellow: #f7f454;
  --brown: #ab5432;
  --brown-dark: #5e3220;

  /* Cores semânticas */
  --background: var(--white);
  --title: var(--brown-dark);
  --text: var(--black);
  --link: var(--blue);
  --sucess: var(--green-dark);
  --warning: var(--yellow);
  --error: var(--red);
}

/* Gerais */
body {
  font-family: "Quicksand", sans-serif;
  background-color: var(--background);
}

.row {
  margin: 0;
}

.container {
  padding: 70px 0;
}

p,
li {
  color: #36453a;
  font-size: 14px;
}

/* Barra de navegação */
header,
.navbra {
  background-color: var(--gray-light);
}

#nav-container {
  padding-top: 0;
  padding-bottom: 0;
}

#logo {
  width: 100px;
}

.navbar-brand {
  padding: 0;
  color: var(--text);
}

.navbar-brand:hover {
  color: var(--background);
}

#navbar-links a {
  color: var(--text);
}

.navbar-expand-lg .navbar .nav-link {
  padding: 1rem 0.8rem;
}

/*BARRA DE PESQUISA */

.container {
  text-align: center;
}
.search-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.search-container input[type="text"] {
  flex: 1;
  align-items: center;
  border: none;
  padding: 5px;
  font-size: 16px;
}
.search-container button {
  padding: 5px 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
  align-items: center;
}

.card-content {
  display: flex;
}

.icon {
  float: right;
}

/* MODAL */
.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; 
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 300px;
  text-align: center;
}

.modal-content h3 {
  color: red;
  font-size: 18px;
}

.modal-content p {
  width: 80%;
  margin: 0 auto;
}

.modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.modal-close:hover,
.modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Estilos para dispositivos com largura de tela menor ou igual a 600 pixels */
@media (max-width: 600px) {
  /* Estilos específicos para telas pequenas */
  .kanban {
    background-color: var(--gray-lighter);
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    gap: 80px 0;

    margin: 18px;
    margin-top: 100px;

    padding: 16px;
  }

  #funcionalities {
    text-align: left;
    padding-left: 10px;
    padding-top: 15px;
  }

  .column {
    flex: 1;
    padding: 10px;
    background-color: #ccc;
    border-radius: 10px;
    height: 700px;
    padding: 24px;
    overflow-y: auto;
  }

  .button {
    border-radius: 4px;
    background-color: #599139;
    color: white;
    padding: 7px;
  }

  #img-protocol1 {
    vertical-align: middle;
    border-style: none;
  }

  #card_enviados {
    display: flex;
    flex-direction: row;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
  }
  #card_recebidos {
    display: flex;
    flex-direction: row;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
  }

  .card-content {
    margin-top: 10px;
    flex-direction: row;
  }

  .card-title {
    margin: 0 auto;
  }

  .card-date {
    margin-bottom: 0;
    text-align: middle;
    font-size: 12px;
    margin-left: 5px;
    background-color: #e8f9df;
    border-radius: 4px;
    padding: 1px;
  }
}

/* Estilos para dispositivos com largura de tela entre 601 e 1024 pixels */
@media (min-width: 601px) and (max-width: 1024px) {
  .kanban {
    display: flex;
    flex-wrap: wrap;
    margin: 18px;
    margin-top: 20px;
    background-color: var(--gray-lighter);
    border-radius: 10px;
  }

  #funcionalities {
    text-align: left;
    padding-left: 20px;
    padding-top: 70px;
  }

  .column {
    flex: 1;
    margin: 10px;
    margin-top: 80px;
    padding: 10px;
    background-color: #ccc;
    border-radius: 10px;
    height: 700px;

    overflow-y: auto;
  }
  #img-protocol1 {
    vertical-align: middle;
    border-style: none;
  }

  .card {
    display: flex;
    flex-direction: row;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
  }

  .card-content {
    margin-top: 10px;
    flex-direction: row;
  }

  .card-title {
    margin: 0 auto;
  }

  .card-date {
    margin-bottom: 0;
    text-align: middle;
    font-size: 12px;
    margin-left: 5px;
    background-color: #e8f9df;
    border-radius: 4px;
    padding: 2px;
  }

  .card-title {
    margin-top: 0;
  }

  .button {
    border-radius: 4px;
    background-color: #599139;
    color: white;
    padding: 7px;
  }
}

/* Estilos para dispositivos com largura de tela maior que 1024 pixels */
@media (min-width: 1025px) and (max-width: 1920px) {
  .kanban {
    display: flex;
    flex-wrap: wrap;
    margin: 18px;
    margin-top: 20px;
    background-color: var(--gray-lighter);
    border-radius: 10px;
  }

  #funcionalities {
    text-align: left;
    padding-left: 25px;
    padding-top: 70px;
  }

  .column {
    flex: 1;
    margin: 10px;
    margin-top: 80px;
    padding: 10px;
    background-color: #ccc;
    border-radius: 10px;
    height: 700px;

    overflow-y: auto;
  }

  #img-protocol {
    #img-protocol1 {
      vertical-align: middle;
      border-style: none;
    }
  }

  .card {
    display: flex;
    flex-direction: row;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
  }

  }

  .card-content {
    margin-top: 10px;
    flex-direction: row;
  }

  .card-title {
    margin: 0 auto;
  }

  .card-date {
    margin-bottom: 0;
    text-align: middle;
    font-size: 12px;
    margin-left: 5px;
    background-color: #e8f9df;
    border-radius: 10px;
    padding: 2px;
    }

  .card-id {
    margin-bottom: 0;
    text-align: center;
    font-size: 12px;
    margin-left: 5px;
    background-color: #e8f9df;
    border-radius: 10px;
    padding: 2px;

  }

  #create-protocols {
    border-radius: 7px;
    background-color: #6aac43;
    color: var(--white);
  }

  .button {
    border-radius: 4px;
    background-color: #599139;
    color: white;
    padding: 7px;
  }


body {
  font-family: "Quicksand", sans-serif;
  background-color: var(--background);
}

.row {
  margin: 0;
}

.container {
  padding: 70px 0;
}

p,
li {
  color: #36453a;
  font-size: 14px;
}

/* Cabeçalho */
header,
.navbar {
  background-color: var(--gray-light);
}

#nav-container {
  padding-top: 0;
  padding-bottom: 0;
}

#logo {
  width: 100px;
}

.navbar-brand {
  padding: 0;
  color: var(--text);
}

.navbar-brand:hover {
  color: var(--background);
}

#navbar-links a {
  color: var(--text);
}

.navbar-expand-lg .navbar .nav-link {
  padding: 1rem 0.8rem;
}

/* Main */
h2 {
  font-family: "Source Sans Pro", sans-serif;
}

#controller h2 {
  color: var(--white);
}

#controller {
  background-color: var(--gray-dark);
  margin: 0;
  padding-top: 5em;
}

#preview {
  padding-top: 5rem;
}

main p {
  width: 75%;
  margin: 0 auto;
}

i {
  fill: var(--black);
}

#controller hr {
  border-top: 1px solid var(--gray);
  margin: 3rem 0;
}

#add_question,
#controller input {
  height: 36px;
  background-color: var(--gray-lighter);
  border: 1px solid var(--gray-lighter);
  border-radius: 5px;
}

#controller input {
  color: var(--white);
}

button:focus {
  outline: 0;
}

#controller input {
  background-color: var(--gray-dark);
  width: 75%;
}

#add_question {
  margin-bottom: 20rem;
}

#add_question:hover {
  background-color: var(--gray);
  border: 2px solid var(--gray);
  border-radius: 5px;
}

#add_question:focus {
  outline: 0;
}

#preview h3 {
  margin-top: 2.5rem;
  margin-bottom: 1rem;
  font-size: 1.3rem;
}

#preview input {
  height: 2.5rem;
  width: 40%;
  border-radius: 5px;
  border: 1px solid var(--gray-dark);
  background-color: var(--white);
}

.modal-body input {
  font-size: 1em;
}

.modal-body p {
  margin-bottom: 0.5rem;
}

#send-form,
#send-groups {
  width: 100%;
  margin: auto;
  margin-top: 3rem;
  background-color: var(--green-dark);
  border: 1px solid var(--green-dark);
  color: var(--white);
  height: 2.5rem;
  border-radius: 5px;
}

#send-form {
  width: 30%;
}

/* Footer */
footer {
  background-color: var(--black);
  text-align: center;
}

#copy-area .container {
  padding: 10px 0;
}

footer #logo {
  width: 150px;
  border-bottom: 2px solid var(--white);
}

footer p {
  font-size: 0.75rem;
  color: var(--white);
}

a {
  color: var(--link);
}

.footer-brand {
  padding: 0;
  color: var(--text);
}

.footer-brand:hover {
  color: var(--background);
}
