@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600&family=Quicksand:wght@300;400;500;600&display=swap");
* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background: #e7f1e0;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
main.container {
  background-color: #d7e0d5;
  max-width: 704px;
  min-height: 778px;
  padding: 2rem;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}
main h2 {
  font-weight: 600;
  margin-bottom: 2rem;
  position: relative;
}
main h2::before {
  content: "";
  position: absolute;
  height: 4px;
  width: 25px;
  bottom: 3px;
  left: 0;
  border-radius: 8px;
  background: #e7f1e0;
}
form {
  display: flex;
  flex-direction: column;
}
.input-field {
  position: relative;
}
form .input-field:first-child {
  margin-bottom: 1.5rem;
}

.input-field .underline::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  bottom: -5px;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
}
.input-field .underline::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  bottom: -5px;
  left: 0;
  background: #e7f1e0;
  transform: scaleX(0);
  transform-origin: left;
}
.input-field input:focus ~ .underline::after {
  transform: scaleX(1);
  transition: all 0.3s ease-in-out;
}
.input-field input {
  outline: none;
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.9);
}
.input-field input::placeholder {
  color: rgba(0, 0, 0, 0.5);
}
form input[type="submit"] {
  margin-top: 2rem;
  padding: 0.4rem;
  background: #e7f1e0;
  cursor: pointer;
  color: white;
  font-size: 0.9rem;
  font-weight: 300;
  border-radius: 4px;
  transition: all 0.3s ease; /*ease é o modo de transição*/
}
form input[type="submit"]:hover {
  letter-spacing: 0.5px;
  background-color: #e7f1e0;
}
